@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;

    
}

body{
    background-repeat: no-repeat;
    background-image: url(img/128130.jpg);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    width: auto;
    height: 70px;
}

.logo img{
    width: 150px;
    height: 70px;
    padding: 15px;
}

.menu{
    display: flex;
    justify-self: flex-end;
    
}
.menu-items{
    
}
.menu-items ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;

    padding: 20px;
   
}

.menu-items ul a{
    margin-left: 10px;
    font-size: 25px;
    color:black;
    border: 1.3px solid black;
    border-radius: 5px;
    padding: 1px 5px;
    background-color: tomato;
}

.main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 700px;
   width: auto;
   
  
}

.lakers{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
  
    
}

.brok{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.hornets{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.orlando{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.btn{
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: center;
    margin-top: 108px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}
