@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.wrapper{
  display: flex;
}

.logo{
    width: 150px;
    height: 70px;
}

.logo img{
    width: 150px;
    height: 70px;
    padding: 15px;
}

.menu{
   display: flex;
   justify-content: flex-end;
}
.menu-items{
    display: flex;
    justify-content: flex-end;
}
.menu-items ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;

    padding: 15px;
   
}

.menu-items ul a{
    margin-left: 10px;
}

.main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 500px;
   width: auto;
   
  
}

.lakers{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
  
    
}

.brok{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.hornets{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.orlando{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.btn{
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}



